h2 {
    color: blue;
}

#searchform {
    margin-left: 3em;
}

#searchtext {
    width: 35em;
}

#results {
    margin-top: 2em;
}

th,td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
